:root {
    --black-color: #000000;
    --gold-color: #fecb40;
    --dark-gold: #c0a14e;
    --wine-color: #320d14;
    --green-color: #008000;
    --light-green: #0ce20c;
    --red-color: #ff0000;
    --white-shade: #f6f8fa;
    --grey: #eeeeee;
    --light-grey: #f2f2f2;
    --dark-grey: #61666b;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    margin: 0;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    background: #F0EDD4;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1400px;
    margin: 0 auto;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: #F9FBE7;
    box-shadow: 0 0 8px rgba(218, 165, 32, 0.9);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 10px;
}

nav .logo h1 {
    font-family: 'Satisfy', cursive;
    font-weight: 700;
    font-size: 25px;
    color: var(--gold-color);
}

nav .logo h1 span {
    color: var(--green-color);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:is(:link, :active, :visited).active {
   color: #F9FBE7;
   background: #FEA1A1;
   padding: 5px;
   border-radius: 10px;
}

ul li:hover {
    background: #F9FBE7;
    padding: 5px;
    border-radius: 10px;
}

nav ul li a {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--black-color);
}

/*Slider section*/
.slider-section {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 60px;
    margin-top: 230px;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 0;
}

.slider-section .slider-overlay {
    display: block;
    width: 100%;
}

.slider-section .slider-overlay .info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.slider-section .slider-overlay h2 {
    color: #FEA1A1;
    font-family: 'Lora', serif;
    font-size: 26px;
}

.slider-section .slider-overlay i {
    color: var(--light-green);
    font-size: 30px;
}

.slider-section .slider-image {
    display: block;
    width: 100%;
}

.slider-section .slider-image img {
    width: 420px;
    height: auto;
    position: relative;
    border-radius: 30%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.round-line {
    position: relative;
    width: 35%;
    height: 2px;
    background-color: var(--wine-color);
    margin: 0;
}

.round-line:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--dark-gold);
    border-radius: 25%;
} 

.slider-section .slider-overlay h3 {
    color: #e7b535;
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
    animation: changeWord 10s alternate linear infinite;
}

.slider-section .slider-overlay p {
    font-family: sans-serif;
    text-transform: capitalize;
    color: #00092C;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 19px;
    width: 500px;
}




/*Buttons*/

.btn {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.btn.green {
    padding: 5px 5px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--light-green);
    border-bottom: 3px solid var(--light-green);
    color: var(--black-color);
}

.btn.gold {
    border-left: none;
    border-right: none;
    border-radius: none;
    border-top: 3px solid var(--gold-color);
    color: var(--black-color);
    padding: 5px 5px;
    border-bottom: 3px solid var(--gold-color);
}

.btn.red {
    padding: 11px 25px;
    border-radius: 30px;
    background: #FEA1A1;
    color: var(--black-color);
}

.btn.red:hover {
    background: #F9FBE7;
    transform: scale(1.1);
}

.btn.utensil-icon::before {
    content: url(images/restaurant1.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.utensil-icon {
    padding-left: 60px;

}

/*Dine Section*/
.main {
    padding: 100px 0;
}

.main h2 {
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 29px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.main p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
    color: var(--black-color);
    width: 500px;
    text-align: center;
}

.main h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    border-bottom: 2px solid var(--light-green);
    border-top: 2px solid var(--light-green);
    padding: 5px 0;
    width: 80px;
    color: #F9FBE7;
}

.round-line1 {
    position: relative;
    width: 30%;
    height: 2px;
    background-color: var(--dark-gold);
    margin: 10px auto;
}

.round-line1:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--light-green);
    border-radius: 25%;
}

.main .content {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    padding: 60px;
    background: #ECCDB4;
    border-radius: 80px;
}

.main .content .left img, .right img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.main .content .left .right {
    width: 100%;
}

.main.dine {
    background: #F9FBE7;
}

.main.clique {
    background: #F0EDD4;
}

.main.clique img {
    width: 117%;
}

.main.bite {
    background: #F9FBE7;
}

.main.wine {
    background: #F0EDD4;
}

/*footer*/
footer {
    background: #F9FBE7;
    padding: 60px 0;
    color: var(--black-color);
}

footer a {
    text-decoration: none;
    color: var(--black-color);
}

footer h3 {
    color: var(--dark-gold);
}

footer h4 {
    font-size: 30px;
    color: var(--dark-gold);
    font-family: 'Satisfy', cursive;
    margin-top: 30px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding-left: 10px;
}

footer ul li {
    margin: 16px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

footer .social a {
    margin-right: 28px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    z-index: 10;
    overflow: hidden;
}

footer .social a .fa-brands {
    font-size: 30px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
    color: var(--dark-gold);
}

footer .social a .fa-brands:hover {
    color: var(--green-color);
    transform: scaleX(1.2);
}

footer .contact a i {
    color: var(--dark-gold);
    padding: 0 10px;
    transition: 0.3;
    font-size: 20px;
}

footer .contact a i:hover {
    transform: scaleY(1.2);
    color: var(--green-color);
}

footer .form form {
    position: relative;
}

footer .form form input {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 32px;
    color: var(--black-color);
    border: none;
    width: 100%;
    line-height: 200%;
}

footer .form form .submit-btn {
    position: absolute;
    right: 5px;
    top: 76%;
    transform: translateY(-50%);
    border-radius: 8px;
    padding: 8px 30px;
    color: #fff;
    background: var(--dark-gold);
    border: none;
    cursor: pointer;
}

footer .copyright {
    margin-top: 36px;
}

footer p {
    width: 100%;
    text-align: center;
}

footer .copyright span {
    color: var(--dark-gold);
    font-size: 20px;
}

nav.mobile-nav, .mobile-menu-container {
    display: none;
}



/*About*/

header .imgSlider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(images/about1.jpeg);
    background-size: 100% 100%;
    animation: changeImage 20s ease-in infinite;
}

.about {
    background: #F0EDD4;
}

.about .about-container {
    display: flex;
    flex-direction: column;
    background: #ECCDB4;
    text-align: center;
}

.about .about-container .top {
    margin-top: 70px;
}

.about h2 {
    color: #fff;
    text-transform: uppercase;
}

.about p {
    color: var(--black-color);
    width: 1000px;
    margin: 0 auto;
}

.round-line2 {
    position: relative;
    width: 30%;
    height: 2px;
    background-color: var(--red-color);
    margin: 10px auto;
}

.round-line2:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--dark-gold);
    border-radius: 25%;
}

.about .about-container .bottom h3 {
    color: var(--dark-gold);
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
}

.about .about-container .bottom .images {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 60%;
    text-align: center;
    margin: 50px auto;
}

.about .images img {
    width: 100%;
    border-radius: 20px;
}

@keyframes changeImage {
    0% {
        background-image: url(images/about1.jpeg);
    }
    25% {
        background-image: url(images/about2.jpg);
    }
    50% {
        background-image: url(images/about3.png);
    }
    75% {
        background-image: url(images/about4.jpg);
    }
    100% {
        background-image: url(images/about5.jpg);
    }
}




/* Menu.html */
.menuSlider-section {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.menuSlider-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

header .menuSlider-section .menuSlider-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .menuSlider-section .menuSlider-overlay h2 {
    font-family: 'Satisfy', cursive;
    font-size: 37px;
    color: #fff;
    margin: 0;
}

.round-line3 {
    position: relative;
    width: 30%;
    height: 2px;
    background-color: var(--red-color);
    margin: 10px auto;
}

.round-line3:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--dark-gold);
    border-radius: 25%;
}

header .menuSlider-section .menuSlider-overlay p {
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--light-green);
    animation: changeWord 10s alternate linear infinite;
}

@keyframes changeWord {
    0% {
        color: var(--light-green);
    }
    25% {
       color: #e7b535; 
    }
    50% {
        color: var(--dark-grey);
    }
    75% {
        color: #ec9c24;
    }
    100% {
        color: #EF9595;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 34px;
    color: white;
    cursor: pointer;
    background: var(--red-color);
    border-radius: 30px;
    padding: 3px 8px;
}

.prev:hover, .next:hover {
    background: var(--green-color);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.play-pause-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#playIcon, #pauseIcon {
    color: var(--red-color);
    font-size: 30px;
}

.menu-container {
    background: #F0EDD4;
    display: flex;
    flex-wrap: wrap;
}

.menu-container .wrapper {
    width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.menu-container .menu-heading h2 {
    color: var(--dark-gold);
    background: #F9FBE7;
    padding: 10px;
    font-size: 35px;
    border-radius: 20px;
}

.menu-container h2 {
    font-size: 28px;
    background: #EF9595;
    color: #EFD595;
    text-align: center;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    margin: 0;
}

.menu-container h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #EF9595;
    font-family: 'Satisfy', cursive;;
    margin: 0;
    padding: 10px 0;
}

.menu-container p {
    padding: 0 20px;
    text-align: center;
    margin: 0;
    color: var(--black-color);
}

.menu-container .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #F9FBE7;
    gap: 30px;
    padding: 40px 0;
    border-radius: 20px;
    margin: 20px 0;
    position: relative;
}

.menu-container .box-container .mini-box {
    position: relative;
    text-align: center;
    width: 330px;
    height: 460px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    background: #EFD595;
    box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.25), 0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.menu-container .box-container .mini-box::before {
    content: '';
    position: absolute;
    top: -180px;
    left: -99px;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.menu-container .box-container .mini-box .mini-card {
    width: 100%;
}

.round-line4 {
    position: relative;
    width: 40%;
    height: 2px;
    background-color: var(--red-color);
    margin: 20px auto;
}

.round-line4:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--dark-gold);
    border-radius: 25%;
}

.menu-container .box-container .stationary-image {
    position: absolute;
    z-index: 50;
    top: 15px;
    left: 10px;
    animation: rotate 10s linear infinite;
}

.menu-container .box-container .stationary-image img {
    width: 150px;
    border-radius: 20px;
}

.menu-container .box-container .moving-image {
    position: absolute;
    z-index: 50;
    bottom: 15px;
    right: 10px;
    animation: rotate 10s linear infinite;
}

.menu-container .box-container .moving-image img {
    width: 180px;
    border-radius: 20px;
}




/*Hours.html*/
.hero-section {
    background: #F0EDD4;
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-section_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.hero-section h2 {
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    animation: changeWord 20s linear infinite;
}

.hero-section p {
    text-align: center;
    color: var(--black-color);
    font-size: 25px;
    font-family: 'satisfy', cursive;
}

.moving-image1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    animation: image 20s linear alternate infinite;
}

.moving-image1 img {
    width: 150px;
    
}

@keyframes image {
    0% {
        left: 10px;
        bottom: 10px;
    }
    
    25% {
       left: 50px;
       bottom: 10px;
    }

    50% {
        left: 100px;
        bottom: 10px;
    }

    75% {
        left: 150px;
        bottom: 10px;
     }
    
    100% {
        left: 200px;
        bottom: 10px;
    }
}

.moving-image2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    animation: movingImage 20s linear alternate infinite;
}

.moving-image2 img {
    width: 150px; 
}

@keyframes movingImage {
    0% {
        right: 10px;
        bottom: 10px;
    }
    
    25% {
       right: 50px;
       bottom: 10px;
    }

    50% {
        right: 100px;
        bottom: 10px;
    }

    75% {
        right: 150px;
        bottom: 10px;
     }
    
    100% {
        right: 200px;
        bottom: 10px;
    }
}

.main-hour {
    background: #ECCDB4;
}

.main-hour h2 {
    color: var(--dark-gold);
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    margin: 20px 0;
}

.main-hour h3 {
    color: #EF9595;
    font-size: 30px;
    font-family: 'satisfy', cursive;
    margin: 10px 0;
}

.main-hour p {
    color: var(--black-color);
    font-size: 20px;
    font-family: 'satisfy', cursive;;
    margin: 10px 0;
}

.main-hour .hour-container {
    background: #F0EDD4;
    text-align: center;
    padding: 30px 0;
}

.map-container {
    width: 100%;
    height: auto;
    background: #F0EDD4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-container .map-details {
    background: #F9FBE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-container .map-details h4 {
    color: var(--light-grey);
    text-transform: uppercase;
    font-size: 25px;
}

iframe {
    width: 80%;
    height: 500px;
    filter: invert(100%);
    margin-bottom: 50px;
}





/*Reservation.html*/
.banner {
    width: 100%;
    height: 100vh;
    background: #F0EDD4;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    padding-bottom: 100px;
}

.card-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 30px;
    padding: 0 20px;
}

.card-img {
    width: 100%;
}

.card-img img {
    display: block;
    width: 100%;
    height: 350px;
}

.banner h2 {
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'satisfy', cursive;
    font-size: 30px;
}

.card-content {
    background: #dcdcdc;
    height: 350px;
}

.card-content h3 {
    text-align: center;
    color: var(--black-color);
    padding: 10px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Satisfy', cursive;
    margin-top: 15px;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

form select, form input {
    display: block;
    width: 100%;
    margin: 10px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gold-color);
    border-radius: 20px;
}

form input[type = text], form input [type = number], form input::placeholder, select {
    color: var(--dark-grey);
}

form input[type = submit] {
    color: var(--black-color);
    background: #EF9595;
    padding: 12px 0;
    border-radius: 20px;
    cursor: pointer;
}

form input[type = submit]:hover {
    transform: scale(1.1);
}


/*Order Online*/
.main-body {
    width: 100%;
    height: auto;
    color: var(--black-color);
    font-family: 'Outfit', sans-serif;
    background: F9FBE7;
    overflow-x: hidden;
}

.main-body p {
    font-size: 13px;
    margin: 0;
}

.log {
    position: fixed;
    background: #FEA1A1;
    color: var(--black-color);
    width: 100%;
    text-align: center;
    padding: 15px 420px 15px 60px;
    top: 0px;
    z-index: 2;
    text-transform: uppercase;
}

.cart {
    z-index: 5;
    display: flex;
    float: right;
    background: var(--white-shade);
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
    right: 350px;
    position: fixed;
    top: 30px;
    justify-content: space-between;
}

.fas {
    color: var(--red-color);
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background: var(--red-color);
    color: var(--white-shade);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: #F0EDD4;
    z-index: 3;
    padding-top: 70px;
}

.sidebar-menu {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    color: var(--dark-grey);
}

.sidebar-menu a {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark-grey );
}

.sidebar-menu:hover {
    border-right: 2px solid #fecb40;
    color: #fecb40;
}

.sidebar-menu:hover a {
    color: #fecb40;
}

.dashboard {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
} 

.dashboard-banner {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.dashboard-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.banner-promo {
    position: absolute;
    color: var(--light-grey);
    top: 25%;
    left: 10%;
    font-weight: 800;
}

.banner-promo h1 {
    color: var(--red-color);
}

.banner-promo h1 span {
    color: var(--black-color);
}

.dashboard-title {
    padding: 0 1rem;
}

.dashboard-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: auto;
}

.dashboard-menu a {
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--black-color);
    background: #ECCDB4;
}

.dashboard-menu a:hover {
    background: var(--black-color);
    color: #F9FBE7;
}

.dashboard-order {
    width: 340px;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    padding: 0.5rem 1.5rem;
    background: #FEA1A1;
    z-index: 3;
    text-align: center;
}

.active .dashboard-order {
    left: calc(100% - 340px);
}

.container {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-right: 10px;
}

.right-sidebar {
    width: 100%;
    border-radius: 5px;
    background: #F0EDD4;
    padding: 15px;
    text-align: center;
    color: var(--black-color);
    margin: 30px auto;
}

.head {
    background: var(--black-color);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--white-shade);
    display: flex;
    align-items: center ;
    display: flex;
    justify-content: space-between;
}

.head h3 {
    background: #F0EDD4;
    color: var(--black-color);
    margin-left: 10px;
    padding: 3px 5px;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid var(--black-color);
    margin-top: 30px;
}

.board {
    padding: 0.5rem 1rem 1rem 1rem;
    border: 1px solid #FEA1A1;
    border-radius: 15px;
}

.box {
    background: var(--white-shade);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 20px 10px;
}

.box:hover .product-over{
    display: flex;
    flex-direction: column;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageBox {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.product-over {
    z-index: 7;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    animation-name: show_top;
    animation-duration: 1s;
    backdrop-filter: blur(5px);
}

@keyframes show_top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-detail {
    padding: 10px;
}

.card-detail h2 {
    margin: 0;
    font-size: 15px;
    font-family: 'outfit', sans-serif;
}

.card-detail h2 span {
    float: right;
    font-size: 14px;
    font-family: 'outfit', sans-serif;
}

.card-detail p {
    margin: 0;
    font-size: 14px;
    color: var(--dark-grey);
    font-family: 'satisfy', cursive;
}

.card-detail h3 {
    float: right;
    font-size: 15px;
}

.card-detail h4 {
    color: var(--dark-grey);
    font-size: 0.8rem;
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.btn-small {
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    width: 60%;
    padding: 15px;
    background-color: #F9FBE7;
    box-shadow: 2px 2px 2px var(--wine-color);
    color: var(--black-color);
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-small:hover {
    background-color: #FEA1A1;
    color: #F9FBE7;
}

#cartItem {
    height: 400px;
    overflow-y: scroll;
    margin: 20px 0;
}

#cartItem::-webkit-scrollbar {
    width: 7px;
}

#cartItem::-webkit-scrollbar-track {
    background: #FEA1A1;
    border-radius: 20px;
}

#cartItem::-webkit-scrollbar-thumb {
    background: var(--black-color);
    border-radius: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--white-shade);
    border-bottom: 1px solid #FEA1A1;
    border-radius: 3px;
    margin: 10px 5px;
    text-align: left;
}

.cart-item h2 {
    font-weight: 300;
}

.cart-item h3 {
    font-weight: 300;
    color: var(--red-color);
    padding: 0 5px;
}

.row-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowImg {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.fa-trash {
    color: #FEA1A1;
}

.fa-trash:hover {
    cursor: pointer;
    color: var(--black-color);
}

.close {
    justify-content: center;
    background: var(--black-color);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--white-shade);
    align-items: center;
    color: var(--white-shade);
    cursor: pointer;
}

.close p {
    padding: 3px 5px;
}

.close p span {
    margin-right: 10px;
}

.close p:hover {
    background: #FEA1A1;
    transform: scaleX(1.0);
}

.label-cart {
    position: fixed;
    top: 10px;
    right: 7px;
    z-index: 4;
    cursor:pointer;
    background: var(--white-shade);
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    margin-right: 5px;
}





/*Media*/
@media (max-width: 1400px) {
    /*Home*/
    .btn {
        padding: 14px 32px;
        text-align: center;
    }

    header .wrapper {
        width: 1200px;
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
        padding: 30px 20px;
    }

    nav ul {
        gap: 25px;
    }

    nav.scrolled {
        padding: 16px 30px;
    }

    header, .menuSlider-section, header .wrapper {
        max-height: 1200px;
    }

    .main .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: row;
    }

    .main .content .left img, .right img {
        width: 100%;
        object-fit: cover;
    }

    .main.clique img {
        width: 100%;
        object-fit: cover;
    }

    footer .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    /*About*/
    .about .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    /*Hour.html*/
    .main-hour .wrapper {
        width: 1100px;
        margin: 0 auto;
    }

    .map-container .wrapper {
        width: 1100px;
        margin: 0 auto;
    }

}

@media (max-width: 1200px) {
    /*Home*/
    .btn {
        padding: 14px 32px;
        text-align: center;
    }

    header .wrapper {
        width: 1100px;
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
        padding: 30px 20px;
    }

    nav ul {
        gap: 25px;
    }

    nav.scrolled {
        padding: 16px 30px;
    }

    header, .menuSlider-section, header .wrapper {
        max-height: 1100px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 60px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 25px;
    }
    
    .slider-section .slider-image img {
        width: 350px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        width: 455px;
    }

    .round-line {
        width: 45%;
    }

    .main .wrapper {
        width: 1100px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 50px 0;
    }

    .main .content .left img, .right img {
        width: 1000px;
        object-fit: cover;
    }

    .main.clique img {
        width: 1000px;
        object-fit: cover;
    }

    footer .wrapper {
        width: 1100px;
        margin: 0 auto;
    }

    /*About*/
    .about .wrapper {
        width: 1100px;
        margin: 0 auto;
    }

}

@media (max-width: 1100px) {
    /*Home*/
    .btn {
        padding: 12px 30px;
        text-align: center;
    }

    header .wrapper {
        width: 1000px;
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
        padding: 30px 20px;
    }

    nav ul {
        gap: 25px;
    }

    nav.scrolled {
        padding: 16px 30px;
    }

    header, .menuSlider-section, header .wrapper {
        max-height: 1100px;
    }

    .main {
        width: 100%;
        max-height: 1200px;
        align-items: center;
    }

    .main .wrapper {
        width: 800px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 50px 0;
    }

    .main .content .left img, .right img {
        width: 700px;
        object-fit: cover;
    }

    .main.clique img {
        width: 700px;
        object-fit: cover;
    }

    .main p {
        font-size: 20px;
    }

    footer .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    footer .links-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .links-container .social {
        grid-column: 1 / 3;
    }

    /*About*/
    .about .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .about p {
        width: 900px;
    }

    /*Hour.html*/
    .main-hour .wrapper {
        width: 800px;
        margin: 0 auto;
    }

    .hero-section h2 {
        font-size: 40px;
    }
    
    .hero-section p {
        font-size: 21px;
    }

    .map-container .wrapper {
        width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    /*Home*/
    header .wrapper {
        width: 800px;
        display: flex;
        justify-content: center;
    }

    nav ul {
        gap: 23px;
    }

    nav.scrolled {
        padding: 16px 28px;
    }

    .slider-section .slider-overlay h2 {
        font-size: 26px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 55px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 25px;
    }
    
    .slider-section .slider-image img {
        width: 270px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        width: 450px;
    }

    .round-line {
        width: 59%;
    }

    .menuSlider-section .menuSlider-overlay p {
        font-size: 15px;
        width: 450px;
    }

    footer .wrapper {
        width: 800px;
        margin: 0 auto;
    }

    footer .form form {
        width: 100%;
    }

    /*About*/
    .about .wrapper {
        width: 800px;
        margin: 0 auto;
    }

    .about p {
        width: 800px;
    }

    .hero-section h2 {
        font-size: 38px;
    }
    
    .hero-section p {
        font-size: 21px;
    }
}

@media (max-width: 850px) {
    /*Reservation*/
    
    .banner {
        padding-top: 50px;
    }

    .card-container {
        grid-template-columns: 1fr;
        border-radius: 100px;
    }

    .card-img img {
        display: block;
        width: 100%;
        height: 300px;
    }
    
    .banner h2 {
        margin-top: 60px;
    }
    
    .card-content {
        background: #dcdcdc;
        height: 300px;
    }

}

@media (max-width: 800px) {
    /*Home*/
    nav {
        display: none;
    }

    header .wrapper {
        width: 708px;
        display: flex;
        justify-content: center;
    }

    nav {
        width: 100%;
        padding: 30px 30px;
    }

    nav.mobile-nav {
        display: flex;
        padding: 30px 70px;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 100px;
        box-shadow: 0 0 8px rgba(218, 165, 32, 0.9);
        border-radius: 0 0 8px 8px;
        top: 0
    }

    nav.mobile-nav .menu-icon i {
        color: #EF9595;
        font-size: 30px;
    }

    header, .menuSlider-section, header .wrapper {
        max-height: 768px;
    }

    .mobile-menu-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
    }

    .mobile-menu-container.active {
        left: 0;
    }

    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 100px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon {
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container .close-icon i {
        color: #EF9595;
        font-size: 35px;
    }

    .mobile-menu-container ul  {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a {
        color: var(--black-color);
        text-decoration: none;
        font-size: 20px;
    }

    .mobile-menu-container a:is(:link, :active, :visited).active {
        color: #F9FBE7;
    }

    .slider-section .slider-overlay h2 {
        font-size: 24px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 50px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 25px;
    }
    
    .slider-section .slider-image img {
        width: 250px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        width: 380px;
    }

    .round-line {
        width: 65%;
    }

    .main .wrapper {
        width: 700px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 30px 0;
    }

    .main .content .left img, .right img {
        width: 650px;
        object-fit: cover;
    }

    .main.clique img {
        width: 650px;
        object-fit: cover;
    }

    footer .wrapper {
        width: 700px;
        margin: 0 auto;
    }

    /*About*/
    .about .wrapper {
        width: 700px;
        margin: 0 auto;
    }

    .about p {
        width: 600px;
    }

    /*Hour.html*/
    .main-hour .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .hero-section h2 {
        font-size: 30px;
    }
    
    .hero-section p {
        font-size: 18px;
    }

    .main-hour h2 {
        font-size: 28px;
        margin: 40px 0;
    }
    
    .main-hour h3 {
        font-size: 30px;
    }
    
    .main-hour p {
        font-size: 20px;
        width: 600px;
    }

    .map-container .wrapper {
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    /*Home*/
    header .wrapper {
        width: 400px;
        margin: 0 auto;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 50px;
    }

    .mobile-menu-container .close-icon {
        top: 32px;
        right: 50px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 38px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 25px;
    }
    
    .slider-section .slider-image img {
        width: 230px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        width: 300px;
    }

    .round-line {
        width: 80%;
    }

    .menuSlider-section .menuSlider-overlay h3 {
        font-size: 45px;
    }

    .menuSlider-section .menuSlider-overlay p {
        width: 350px;
    }

    .main .wrapper {
        width: 650px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 30px 0;
    }

    .main .content .left img, .right img {
        width: 600px;
        object-fit: cover;
    }

    .main.clique img {
        width: 600px;
        object-fit: cover;
    }

    footer .wrapper {
        width: 650px;
        margin: 0 auto;
    }

    /*About*/
    .about .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .about p {
        width: 500px;
    }

    .about .about-container .bottom .images {
        flex-direction: column;
    }

    /*Order*/
    .log {
        padding: 0;
    }

    .dashboard {
        padding-right: 0;
    }

    .active .dashboard-order {
        width: 100%;
        left: 0 ;
    }

    /*Hour*/

    .map-container .wrapper {
        width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .mobile-menu-container .close-icon {
        top: 32px;
        right: 50px;
    }

    .main .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 30px 0;
    }

    .main .content .left img, .right img {
        width: 550px;
        object-fit: cover;
    }

    .main.clique img {
        width: 550px;
        object-fit: cover;
    }

    footer .wrapper {
        width: 600px;
        margin: 0 auto; 
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .card-container {
        grid-template-columns: 1fr;
        border-radius: 100px;
    }
}

@media (max-width: 600px) {
    /*Home*/
    nav.mobile-nav {
        display: flex;
        padding: 30px 50px;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 50px;
    }

    .mobile-menu-container .close-icon {
        top: 32px;
        right: 50px;
    }

    .round-line {
        position: relative;
        width: 80%;
        height: 2px;
        background-color: var(--wine-color);
        margin: 0;
    }

    .slider-section .slider-overlay h2 {
        font-size: 20px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 30px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 20px;
    }
    
    .slider-section .slider-image img {
        width: 170px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        font-size: 15px;
        width: 200px;
    }

    .round-line {
        width: 75%;
    }

    .prev, .next {
        font-size: 25px;
    }

    .main .wrapper {
        width: 450px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 30px 0;
    }

    .main .content .left img, .right img {
        width: 400px;
        object-fit: cover;
    }

    .main.clique img {
        width: 400px;
        object-fit: cover;
    }

    .main h2 {
        font-size: 20px;
    }

    .main p {
        width: 400px;
        justify-content: center;
        text-align: center;
        padding: 0 10px;
    }

    .main h3 {
        font-size: 18px;
    }

    footer .wrapper {
        width: 400px;
        margin: 0 auto; 
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .links-container .social {
        grid-column: 1 / 2;
        margin-bottom: 10px;
    }

    footer p {
        width: 100%;
    }

     /*About*/
     .about .wrapper {
        width: 450px;
        margin: 0 auto;
    }

    .about p {
        width: 350px;
    }

    .about .about-container .bottom .images {
        flex-direction: column;
    }

    /*Hour.html*/
    .main-hour .wrapper {
        width: 450px;
        margin: 0 auto;
    }

    .hero-section h2 {
        font-size: 28px;
    }
    
    .hero-section p {
        width: 350px;
    }

    .main-hour h2 {
        font-size: 25px;
        margin: 40px 0;
    }
    
    .main-hour h3 {
        font-size: 27px;
    }
    
    .main-hour p {
        font-size: 15px;
        width: 450px;
    }

    .map-container .wrapper {
        width: 450px;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    /*Home*/
    header .wrapper {
        width: 300px;
        margin: 0 auto;
    }

    header .wrapper .about.wrapper {
        width: 350px;
        margin: 0 auto;
    }

    nav.mobile-nav {
        display: flex;
        padding: 30px 40px;
    }

    nav.mobile-nav.scrolled {
        padding: 8px 40px;
    }

    .mobile-menu-container .close-icon {
        top: 32px;
        right: 50px;
    }

    .slider-section .slider-overlay h2 {
        font-size: 15px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 25px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 18px;
    }
    
    .slider-section .slider-image img {
        width: 150px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        font-size: 13px;
        width: 150px;
    }


    .menuSlider-section .menuSlider-overlay h2{
        width: 200px;
        font-size: 17px;
    }

    .menuSlider-section .menuSlider-overlay p {
        width: 200px;
        font-size: 13px;
    }

    .round-line {
        width: 70%;
    }

    .btn.red {
        padding: 8px 25px;
        font-size: 15px;
    }

    .btn.utensil-icon {
        font-size: 15px;
        padding-left: 60px;
    }

    .prev, .next {
        font-size: 17px;
    }

    .main .wrapper {
        width: 350px;
        margin: 0 auto;
    }

    .main .content {
        flex-direction: column;
        padding: 30px 0;
    }

    .main .content .left img, .right img {
        width: 300px;
        object-fit: cover;
    }

    .main.clique img {
        width: 300px;
        object-fit: cover;
    }

    .main p {
        width: 250px;
    }

    footer {
        padding: 30px;
    }

    footer .wrapper {
        width: 300px;
        margin: 0 auto; 
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .links-container .social {
        grid-column: 1 / 2;
        margin-bottom: 10px;
    }

    footer .links-container .form {
        text-align: center;
    }

    footer .form form input{
        width: 100%;
    }

    footer p {
        width: 100%;
        text-align: center;
    }

    footer ul {
        padding: 0;
    }

     /*About*/
     .about .wrapper {
        width: 250px;
        margin: 0 auto;
    }

    .about p {
        width: 200px;
    }

    .about .about-container .bottom .images {
        flex-direction: column;
    }

    /*Menu*/
    header .menuSlider-section .menuSlider-overlay h2 {
        font-size: 28px;
        width: 250px;
    }

    header .menuSlider-section .menuSlider-overlay p {
        font-size: 17px;
        width: 250px;
        text-align: center;
    }

    .menu-container .box-container .stationary-image {
        left: 5px;
        top: 5px;
    }

    .menu-container .box-container .stationary-image img {
        width: 80px;
    }

    .menu-container .box-container .moving-image {
        right: 5px;
        bottom: 5px;
    }

    .menu-container .box-container .moving-image img {
        width: 80px;
    }

    /*Hour.html*/
    .main-hour .wrapper {
        width: 300px;
        margin: 0 auto;
    }

    .hero-section h2 {
        font-size: 20px;
    }
    
    .hero-section p {
        width: 200px;
    }

    .main-hour h2 {
        font-size: 23px;
        margin: 40px 0;
    }
    
    .main-hour h3 {
        font-size: 24px;
    }
    
    .main-hour p {
        font-size: 14px;
        width: 300px;
    }

    .moving-image1 img {
        width: 100px;
    }

    .moving-image2 img {
        width: 100px;
    }

    .map-container .wrapper {
        width: 300px;
        margin: 0 auto;
    }

    .card-container {
        grid-template-columns: 1fr;
        border-radius: 100px;
    }
}

@media (max-width: 360px) {
    header .wrapper {
        width: 200px;
        margin: 0 auto;
    }

    header .imgSlider {
        height: 100vh;
    }

    header .wrapper .about.wrapper {
        width: 200px;
        margin: 0 auto;
    }

    .slider-section .slider-overlay h2 {
        font-size: 12px;
    }

    .slider-section .slider-overlay h3 {
        font-size: 23px;
        margin-top: 30px;
        width: 200px;
    }
    
    .slider-section .slider-overlay i {
        font-size: 14px;
    }
    
    .slider-section .slider-image img {
        width: 90px;
        height: auto;
    }

    .slider-section .slider-overlay p {
        font-size: 15px;
        width: 150px;
    }

    .btn.red {
        padding: 8px 15px;
    }

    .btn.utensil-icon {
        font-size: 13px;
        padding-left: 50px;
    }

    .main .wrapper {
        width: 250px;
        margin: 0 auto;
    }

    .main .content {
        padding: 30px 0;
        flex-direction: column;
    }

    .main .content .left img, .right img {
        width: 200px;
        object-fit: cover;
    }

    .main.clique img {
        width: 200px;
        object-fit: cover;
    }

    .main p {
        width: 240px;
        padding: 0 20px;
        text-align: center;
        font-size: 16px;
    }

    footer {
        padding: 30px;
    }

    footer .wrapper {
        width: 200px;
        margin: 0 auto; 
    }

    footer .links-container {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 5px;
    }

    footer .links-container .social {
        grid-column: 1 / 2;
        margin-bottom: 10px;
    }

    footer .links-container .form {
        text-align: center;
    }

    footer .form form input{
        width: 100%;
        margin: 0;
    }

    .form form input::placeholder {
        color: var(--wine-color);
        font-size: 11px;
    }

    footer .form form .submit-btn {
        padding: 2px;
    }

    footer p {
        width: 100%;
        text-align: center;
        font-size: 13px;
    }

    footer ul {
        padding: 0;
    }

    footer .social a {
        margin: 0 5px;
    }

    .moving-image1 img {
        width: 100px;
        
    }

    .moving-image2 img {
        width: 100px;
        
    }

    .hero-section h2 {
        font-size: 19px;
    }
    
    .hero-section p {
        margin-top: 40px;
        width: 200px;
        font-size: 23px;
    }

    .main-hour .wrapper {
        width: 250px;
        margin: 0 auto;
    }

    .main-hour h3 {
        font-size: 25px;
    }
    
    .main-hour p {
        font-size: 16px;
        width: 250px;
        padding: 0 5px;
    }

    .main-hour h2 {
        font-size: 20px;
        margin: 40px 0;
    }

    .map-container .wrapper {
        width: 250px;
        margin: 0 auto;
    }

    /*Menu*/
    header .menuSlider-section .menuSlider-overlay h2 {
        font-size: 20px;
        width: 200px;
    }

    header .menuSlider-section .menuSlider-overlay p {
        font-size: 15px;
        width: 200px;
        text-align: center;
    }

    .menu-container .wrapper {
        width: 280px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .menu-container h3 {
        font-size: 13px;
    }

    .menu-container p {
        padding: 0 5px;
        width: 220px;
        text-align: center;
        font-size: 13px;
    }

    .menu-container .box-container {
        padding: 60px 30px;
    }
    

    .menu-container .box-container .stationary-image {
        left: -10px;
        top: 10px;
    }

    .menu-container .box-container .stationary-image img {
        width: 80px;
    }

    .menu-container .box-container .moving-image {
        right: 3px;
        bottom: 3px;
    }

    .menu-container .box-container .moving-image img {
        width: 80px;
    }

    .banner {
        padding-top: 100px;
    }

    .card-container {
        grid-template-columns: 1fr;
        border-radius: 100px;
    }

    .card-img img {
        display: block;
        width: 100%;
        height: 250px;
    }
    
    .card-content {
        height: 270px;
    }

    /*Order*/
    .log {
        padding: 5px;
    }

    .dashboard {
        padding-right: 0;
    }

    .active .dashboard-order {
        width: 100%;
        left: 0 ;
    }

    .label-cart {
        top: 21px;
        right: 7px;
        padding: 5px 9px;
    }
}




